<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>
<div layout:fragment="content">
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>TITLE</th>
            <th>COMPLETED</th>
            <th>DETAIL</th>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.id}"></td>
                <td th:text="${todo.title}"></td>
                <td>
                    <span th:if="${todo.completed}" class="badge bg-success">완료</span>
                    <span th:unless="${todo.completed}" class="badge bg-warning">진행중</span>
                </td>
                <td>
                    <a th:href="@{/todos/{id}(id=${todo.id})}" class="btn btn-sm btn-primary">DETAIL</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>완료 여부 별 분류</span>
                    <span></span>
                    <span></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
